@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}


table {
    border-collapse: collapse;
    width: 70%; 
    border: 1px solid rgb(255, 255, 255);
    
}

th, td {
    padding: 8px; 
    text-align: left; 
}


tr:nth-child(1) {

    background-color: rgb(16, 167, 16);
    color:white;

}

tr:nth-child(3) {

    background-color: rgb(221, 221, 221);

}

tr:nth-child(5) {

    background-color: rgb(221, 221, 221);

}
